* {
    margin: 0px;
    padding: 0px;
    background-color: #085a73;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1em;
}

.body {
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 3em;
    text-align: center;
}

.settings {
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    width: 70%;
    max-width: 600px;
    aspect-ratio: 1/1;
}

.cell {
    background-color: black;
}

.colorTitle, .sizeTitle {
    font-size: 1.5em;
}
.colorHolder, .shadowHolder, .rainbowHolder {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
}

.colorButton, .rainbowButton, .shadowButton {
    height: 20px;
}

.colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 33px;
    background-color: transparent 80%;
    border: none;
    padding: 0px;
    margin-left: 10px;
}
.colorPicker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

.colorPicker::-moz-color-swatch  {
    border-radius: 50%;
    border: none;
}

.gridSize {
    height: 30px;
}